.so-widget-sow-button-atom-cd9ab42f32d3 .ow-button-base a {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1.15em;
  padding: 1em 2em;
  background: #b21e00;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #7f1500), color-stop(1, #b21e00));
  background: -ms-linear-gradient(bottom, #7f1500, #b21e00);
  background: -moz-linear-gradient(center bottom, #7f1500 0%, #b21e00 100%);
  background: -o-linear-gradient(#b21e00, #7f1500);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b21e00', endColorstr='#7f1500', GradientType=0);
  border: 1px solid;
  border-color: #701300 #661100 #560f00 #661100;
  color: #ffffff !important;
  -webkit-border-radius: 0em;
  -moz-border-radius: 0em;
  border-radius: 0em;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
}
.so-widget-sow-button-atom-cd9ab42f32d3 .ow-button-base a:visited,
.so-widget-sow-button-atom-cd9ab42f32d3 .ow-button-base a:active,
.so-widget-sow-button-atom-cd9ab42f32d3 .ow-button-base a:hover {
  color: #ffffff !important;
}
.so-widget-sow-button-atom-cd9ab42f32d3 .ow-button-base a.ow-button-hover:hover {
  background: #bc2000;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #891700), color-stop(1, #bc2000));
  background: -ms-linear-gradient(bottom, #891700, #bc2000);
  background: -moz-linear-gradient(center bottom, #891700 0%, #bc2000 100%);
  background: -o-linear-gradient(#bc2000, #891700);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc2000', endColorstr='#891700', GradientType=0);
  border-color: #7a1500 #701300 #601000 #701300;
  color: #ffffff;
}