.so-widget-sow-headline-default-52dfba112210 .sow-headline-container h1.sow-headline {
  text-align: center;
  color: #333333;
  line-height: 1.4em;
  font-size: 2.5em;
  
  
}
.so-widget-sow-headline-default-52dfba112210 .sow-headline-container h1.sow-headline a {
  color: #333333;
}
.so-widget-sow-headline-default-52dfba112210 .sow-headline-container p.sow-sub-headline {
  text-align: center;
  
  line-height: 1.4em;
  
  margin-top: 25px;
  margin-bottom: 25px;
}
.so-widget-sow-headline-default-52dfba112210 .sow-headline-container .decoration {
  line-height: 0em;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.so-widget-sow-headline-default-52dfba112210 .sow-headline-container .decoration .decoration-inside {
  height: 1px;
  display: inline-block;
  border-top: 1px solid #333333;
  width: 100%;
  max-width: 10%;
}
.so-widget-sow-headline-default-52dfba112210 .sow-headline-container *:first-child {
  margin-top: 0 !important;
}
.so-widget-sow-headline-default-52dfba112210 .sow-headline-container *:last-child {
  margin-bottom: 0 !important;
}