.so-widget-sow-icon-default-d67f848b0235 .sow-icon {
  text-align: center;
}
.so-widget-sow-icon-default-d67f848b0235 .sow-icon span,
.so-widget-sow-icon-default-d67f848b0235 .sow-icon a span {
  display: inline-block;
  color: #ffffff !important;
  font-size: 125px !important;
}