.so-widget-sow-image-grid-default-8392b8051d0b .sow-image-grid-wrapper {
  padding-top: 10px;
  margin: 0 -10px;
}
.so-widget-sow-image-grid-default-8392b8051d0b .sow-image-grid-wrapper .sow-image-grid-image {
  padding: 0 10px 10px 10px;
}